{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "bracketSameLine": false
}

